@font-face {
  font-family: "DS-DIGII";
  src: url("/font/DS-DIGII.TTF") format("truetype");
}

.title {
  text-align: center;
}

#stopWatchPanel {
  margin: 0 auto;
  width: fit-content;
}

.display {
  background-color: black;
  color: white;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 10px;
}

.number {
  font-size: 50px;
  font-family: "DS-DIGII";
}

.log {
  margin: 0 auto;
  width: fit-content;
  margin-top: 25px;
}
